*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;

}

html , body{
    width: 100%;
    height: 100%;

}
#minicircle{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}
.bounding{
    width: fit-content;
    overflow: hidden;

}
.bounding .boundingelem{
   transform: translateY(100%);


}
#main{
    width: 100%;
    background-color: black;
}

#hero{
    position: relative;
   width: 100%;
   height: 100vh;
   background-color: black;
   color: white;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}
#nav a{
    color: #fff;
    font-size: 18px;
    color: #fff;
    
}
#heading{
    margin-top: 90px;

}
#heading h1{
    margin-left: 30px;
    opacity: 0.6;
  font-size: 9vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;

} 
#heading #secondh1{
    margin-left: 230px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content; 
}
.blocktext h5{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;

}
#chhotiheading{
    display: flex;
    flex-direction: column;
    align-items: end;
   margin-top: 100px;
   padding-right:50px ;
}
#chhotiheading h5{
    text-transform: uppercase;
    text-align: right;
    font-size: 1vw;
    margin-top: 0.5vw;

}
#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
#herofooter .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
}
#herofooter #iconset{
  display: flex;
  gap: 5px;
  
}
#second{
    padding-right: 10vw;
    padding-top: 27vh;
    background-color: black;
    width: 100%;
    height: 200vh;
    color: #fff;

}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;

}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    display: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    
}
#about{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 35vw 10vw;
    padding-left: 40vw;
    gap: 50px;
    width: 100%;
    height: 20vh;
    background-color: black;
    
}
#about img{
    width: 40%;

}
#textabout{
    width: 25rem;

}
#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}
 #textabout p{
    line-height:1.5;
    margin-bottom: 30px;
 }
 #textabout a{
    padding: 12px 26px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
   
 }
 #subscribe {
    padding-bottom:7vw;
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    
 }
 #subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;

 }
 #subscribe h3{
    text-transform: uppercase;
    font-size: 0.7;
    margin-top: 10px;

 }
 .footer{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
   
 }
 .footerleft{
    display: flex;
     gap: 20px;

 }
 .footer a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
 }

.footerright {
    display: flex;
    gap: 30px;

}

















